# Python runtime files
__pycache__/
*.pyc

# Virtual environment folder (common names)
venv/
.venv/
env/
.env/
*_env/

# Temporary application folders (created by your app)
uploads/
outputs/

# OS-specific files (examples)
.DS_Store
Thumbs.db
